span.prefix,
label.prefix
  background #f2f2f2
  border-right none
  color #333333
  border-color #cccccc

.prefix,
.postfix
  border-style solid
  border-width 1px
  display block
  font-size .77778rem
  height 2.4375rem
  line-height 2.4375rem
  overflow visible
  padding-bottom 0
  padding-top 0
  position relative
  text-align center
  width 100%
  z-index 2

.why-error
  margin-top 0 !important

textarea
  height 75px

.button-margin
  margin-right 5px

.btn-text
  color #000 !important