.row
  .large-12.columns
    div(*ngIf="allCategories.length > 0; else no_categories")
      h4 Categories
      button.button.button-margin(*ngFor="let category of allCategories; let i = index; trackBy: trackByFn", [innerText]="category | capitalize", (click)="selectCategory(category)")

    ng-template(#no_categories="") No categories found, add your first log item by clicking the 'Add Log' button.

hr

.row(*ngIf="allCategories.length > 0 && selectedCategory != ''")
  .large-12.columns

    h4([innerText]="selectedCategory | capitalize")
    span New lines will not be shown in the datatable, they will be present in the exported excel file.
