.row
  .large-12.columns
    div(*ngIf="_allCategories.length > 0; else no_categories")
      h4 Categories
      button.button.button-margin(*ngFor="let category of _allCategories; let i = index; trackBy: trackByFn", [innerText]="category.category", (click)="selectCategory(i)")

    ng-template(#no_categories="") Add your first log item by clicking the 'Add Log' button.

hr

.row(*ngIf="selectedCategory != -1")
  .large-6.columns
    h4 {{ _allCategories[selectedCategory]?.category }}
  .large-6.columns
    h4(appCountoDirective="", [step]="10", [countTo]="_allCategories[selectedCategory]?.entries", [countFrom]="countFrom", [duration]="0.35", (countoChange)="entries = $event", (countoEnd)="countFrom = $event", [innerText]="'Amount of log entries: ' + ((entries ? entries : 0) | number : '1.0-0')")
