app-header([headerHeading]="[(case | async)?.name, (case | async)?.description]")

.section
  .row
    .large-12.columns.end
      button.button.button-margin((click)="addLogToggle = !addLogToggle", [innerText]="addLogToggle ? 'Hide' : 'Add Log'")
      app-log-export(*ngIf="allCategories.length > 0", [caseName]="(case | async)?.name" ,[categorizedLogs]="allCategorizedLogs", [categories]="allCategories")

  app-log-add(*ngIf="addLogToggle", [id]="id", (notification)="notificationEvent($event)", (addLog)="addLog($event)")

  hr

app-log-categories([allCategories]="allCategories", (changeCategoryEvent)="categorySelected($event)")
app-log-data([log]="log", [selectedCategory]="selectedCategory", (editLogEvent)="editLog($event)", (deleteLogEvent)="deleteLog($event)", (allCategoriesEvent)="allCategoriesEvent($event)", (allCategorizedLogsEvent)="allCategorizedLogsEvent($event)")