app-header([headerHeading]="[(case | async)?.name | capitalize, (case | async)?.description | capitalize]")

.section
  .row
    .large-12.columns.end
      button.button.button-margin((click)="addLogToggle = !addLogToggle", [innerText]="addLogToggle ? 'Hide' : 'Add Log'")
      app-log-export(*ngIf="allCategories.length > 0", [caseName]="(case | async)?.name" ,[categorizedLogs]="allCategorizedLogs", [categories]="allCategories")

  app-log-add(*ngIf="addLogToggle", [id]="id", (notification)="notificationEvent($event)", (addLog)="addLog($event)")

  hr

  app-log-categories([allCategories]="allCategories", (changeCategoryEvent)="selectedCategory = $event")
  app-log-data([log]="log", [selectedCategory]="selectedCategory", (editLogEvent)="editLog($event)", (deleteLogEvent)="deleteLog($event)", (allCategoriesEvent)="allCategories = $event", (allCategorizedLogsEvent)="allCategorizedLogs = $event")

app-notifications