.row
  form(*ngIf="settings | async; let settings; else no_settings", [formGroup]="addLogForm", (ngSubmit)="submitForm(addLogForm.value)")
    .large-6.columns
      label() Name
        input(type="text", [value]="settings.name", disabled)

    .large-6.columns
      label([ngClass]="{ 'error': isFieldValid('what') }") What (example found x file)
        input(type="text", [formControl]="addLogForm.controls['what']", [ngClass]="{ 'error': isFieldValid('what') }")
      small.error(*ngIf="isFieldValid('what')") What is mandatory

    .large-6.columns
      label() Location
        input(type="text", [value]="settings.location", disabled)

    .large-6.columns
      label() Date time
        input(type="text", [value]="datetimeValue | async | localeDate", disabled)

    .row
      .large-12.columns
        label([ngClass]="{ 'error': isFieldValid('why') }", for="why") Why
        .row.collapse
          .large-3.small-4.columns
            span.prefix([innerText]="'[ ' + settings.invpre + ' ]'")
          .large-9.small-8.columns
            input(type="text", [formControl]="addLogForm.controls['why']", [ngClass]="{ 'error': isFieldValid('why') }", id="why")
          small.error.why-error(*ngIf="isFieldValid('why')") Why is mandatory

    .large-6.columns
      label([ngClass]="{ 'error': isFieldValid('how') }") How (example: cat file)
        input(type="text", [formControl]="addLogForm.controls['how']", [ngClass]="{ 'error': isFieldValid('how') }")
      small.error(*ngIf="isFieldValid('how')") How is mandatory

    .large-6.columns
      label([ngClass]="{ 'error': isFieldValid('with') }") With (example: Terminal)
        input(type="text", [formControl]="addLogForm.controls['with']", [ngClass]="{ 'error': isFieldValid('with') }")
      small.error(*ngIf="isFieldValid('with')") With is mandatory

    .large-12.columns
      label Results
        textarea(type="text", [formControl]="addLogForm.controls['result']")

    .large-12.columns.end
      button.button.button-margin(type="submit") Add

  ng-template(#no_settings="")
    .large-12.columns
      p No settings found, you can't add a new log item 
        a(routerLink="/settings") click here.