app-header([headerHeading]="['Home', '']")

.section
  .row(*ngIf="settings")
    .large-12.columns
      p Hi, {{ (settings | async)?.name }} you're currently working from {{ (settings | async)?.location }} with the reason {{ (settings | async)?.invpre }}
