.row
  .large-12.columns.text-center
    h4 Add a case

.row
  form([formGroup]="addCaseForm", (ngSubmit)="submitForm(addCaseForm.value)")
    .large-3.medium-12.small-12.columns
      label([ngClass]="{ 'error': isFieldValid('name') }") Name
        input(type="text", [formControl]="addCaseForm.controls['name']", [ngClass]="{ 'error': isFieldValid('name') }")
      small.error(*ngIf="isFieldValid('name')") Name is mandatory

    .large-7.medium-12.small-12.columns
      label([ngClass]="{ 'error': isFieldValid('description') }") Description
        input(type="text", [formControl]="addCaseForm.controls['description']", [ngClass]="{ 'error': isFieldValid('description') }")
      small.error(*ngIf="isFieldValid('description')") Description is mandatory

    .large-1.medium-12.small-12.columns.end
      button.button.button-margin(type="submit") Add