.row.full-width
  .large-1.columns([id]="'where-' + i")
  .large-1.columns([innerText]="logItem.when | localeDate")
  .large-2.columns([id]="'what-' + i")
  .large-2.columns([id]="'why-' + i")
  .large-2.columns([id]="'how-' + i")
  .large-1.columns([id]="'with-' + i")
  .large-2.columns
    span([id]="'result-' + i", [style.opacity]="logItem.result ? 1 : 0")
  .large-1.columns
    a((click)="editLog()")
      span.icon.icon-pencil
    a((click)="deleteLog()")
      span.icon.icon-trash

  hr.full-width

app-log-data-row-edit-dialog(*ngIf="editModal", [logItem]="logItem", (result)="editLogResult($event)")
app-log-data-row-delete-dialog(*ngIf="deleteModal", (result)="deleteLogResult($event)")