.row.full-width
  .large-1.columns([innerText]="logItem.where | highlight : filter")
  .large-1.columns([innerText]="logItem.when | localeDate")
  .large-2.columns([innerText]="logItem.what | highlight : filter")
  .large-2.columns([innerText]="logItem.why | highlight : filter")
  .large-2.columns([innerText]="logItem.how | highlight : filter")
  .large-1.columns([innerText]="logItem.with | highlight : filter")
  .large-2.columns
    span([innerText]="(logItem.result ? logItem.result : 'empty') | newline | highlight : filter", [style.opacity]="logItem.result ? 1 : 0")
  .large-1.columns
    a((click)="editLog()")
      span.icon.icon-pencil
    a((click)="deleteLog()")
      span.icon.icon-trash

  hr.full-width

app-log-data-row-edit-dialog(*ngIf="editModal", [logItem]="logItem", (result)="editLogResult($event)")
app-log-data-row-delete-dialog(*ngIf="deleteModal", (result)="deleteLogResult($event)")