.row.full-width
  .large-1.columns([id]="'where-' + i", [innerText]="logItem.where")
  .large-1.columns([innerText]="logItem.when | localeDate")
  .large-2.columns([id]="'what-' + i", [innerText]="logItem.what")
  .large-2.columns([id]="'why-' + i", [innerText]="logItem.why")
  .large-2.columns([id]="'how-' + i", [innerText]="logItem.how")
  .large-1.columns([id]="'with-' + i", [innerText]="logItem.with")

  .large-2.columns
    span(*ngIf="!server", [id]="'result-' + i", [style.opacity]="logItem.result ? 1 : 0")
    span(*ngIf="server", [innerHTML]="(logItem.result ? logItem.result : 'empty') | newline", [style.opacity]="logItem.result ? 1 : 0")

  .large-1.columns
    a((click)="editLog()")
      span.icon.icon-pencil
    a((click)="deleteLog()")
      span.icon.icon-trash

  hr.full-width

app-log-data-row-edit-dialog(*ngIf="editModal", [logItem]="logItem", (result)="editLogResult($event)")
app-log-data-row-delete-dialog(*ngIf="deleteModal", (result)="deleteLogResult($event)")