.row
  a.large-3.medium-12.small-12.columns.capitalize([innerText]="'Name: ' + (singleCase.name)", [routerLink]="['case', singleCase._id]")
  a.large-7.medium-12.small-12.columns.capitalize([innerText]="'Description: ' + (singleCase.description)", [routerLink]="['case', singleCase._id]")
  .large-1.medium-12.small-12.columns.actions-margin.text-center-actions
    a((click)="editCase()")
      span.icon.icon-pencil

  .large-1.medium-12.small-12.columns.actions-margin.text-center-actions
    a((click)="deleteCase()")
      span.icon.icon-trash

  hr.hr-margin

app-case-row-edit-dialog(*ngIf="editModal", [singleCase]="singleCase", (result)="editCaseResult($event)")
app-case-row-delete-dialog(*ngIf="deleteModal", [singleCase]="singleCase", (result)="deleteCaseResult($event)")