hr(*ngIf="allCategories.length > 0 && selectedCategory != ''")

.row
  .large-2.columns.filter-margin.hide-for-medium-only
    span Search

  .large-10.medium-12.columns
    input(type="text", placeholder="Search", [formControl]="filterInput")

hr(*ngIf="allCategories.length > 0 && selectedCategory != ''")

.row.full-width.headers(*ngIf="allCategories.length > 0 && selectedCategory != ''")
  .large-1.columns Where
  .large-1.columns When
  .large-2.columns What
  .large-2.columns Why
  .large-2.columns How
  .large-1.columns With
  .large-2.columns.end Results

.row.full-width(*ngIf="allCategories.length > 0 && selectedCategory != ''")
  .large-12.columns(*ngFor="let item of allCategorizedLogs[selectedCategory]; let i = index; trackBy: trackByFn")
    app-log-data-row([logItem]="item", [i]="i", [filterText]="filterText", (editLogEvent)="editLog($event)", (deleteLogEvent)="deleteLog($event)")