p Delete case
p([innerText]='"Are you sure you want to delete the case " + caseName + "?"')
button.button(md-raised-button, (click)='dialogRef.close(true)') Yes
button(md-button, (click)='dialogRef.close(false)') No