app-header([headerHeading]="['Cases', '']")

.section
  app-add-case((addCaseEvent)="addCase($event)")

  .row
    .large-12.columns.text-center
      h4 All cases

  .row
    .large-12.columns
      div(*ngIf="(cases | async) != null; else loading_cases")
        div(*ngIf="(cases | async)?.data?.length !== 0; else no_cases")
          app-case-row(*ngFor="let case of (cases | async)?.data; let i = index; trackBy: trackByFn", [singleCase]="case", (onEdit)="editCase($event)", (onDelete)="deleteCase($event)")

        ng-template(#no_cases="") No cases found

      ng-template(#loading_cases="") Loading cases