.button-margin
  margin-top 24px

.hr-margin
  margin-top 45px

@media (max-width: 1023px)
  .text-center-actions
    text-align left

@media (min-width: 1024px)
  .text-center-actions
    text-align center